<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<section class="ae-container-fluid rk-main">
  <router-outlet></router-outlet>

</section>

<app-footer></app-footer>