  <input type="radio" name="layout-ctrl" checked id="layout-base" class="layout-ctrl-input">
  <div class="ae-container-fluid rk-layout-ctrl-cont">
    <label for="layout-base" class="rk-layout-ctrl">
      <svg>
        <use xlink:href="assets/img/symbols.svg#icon-view-full"></use>
      </svg>
    </label>
  </div>
  <input type="radio" name="layout-ctrl" id="layout-grid" class="layout-ctrl-input">
  <div class="ae-container-fluid rk-layout-ctrl-cont">
    <label for="layout-grid" class="rk-layout-ctrl">
      <svg>
        <use xlink:href="assets/img/symbols.svg#icon-view-alt"></use>
      </svg>
    </label>
  </div>
  <div class="rk-layout-ctrl-mobile  layout-blog">
    <svg viewBox="0 0 9 9" class="layout-mob-1">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-2">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-3">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
    <svg viewBox="0 0 9 9" class="layout-mob-4">
      <rect width="100%" height="100%" fill="currentColor"></rect>
    </svg>
  </div>
  <section class="ae-container-fluid ae-container-fluid--inner rk-blog">

    <div  class="rk-blog__items">
      <div *ngFor="let onepost of _is.post"
      class="rk-blog__item">
        <div [ngStyle]="{'background-image':'url(assets/img/'+ onepost.cod +'.jpg)'}"
        class="post-img post-1 rk-landscape-alt rk-tosquare">
          <div class="item-meta">
            <p><a href="blog-post.html" class="arrow-button">Read More<span class="arrow-cont">
                  <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                  </svg></span></a></p>
          </div>
        </div>
        <div class="blog-info">
          <h2 class="blog-info__title"> <a href="blog-post.html">{{ onepost.title}}</a></h2>
          <h5 class="blog-info__author">By <a href="blog-post.html" class="ae-u-bolder">{{ onepost.autor }}</a></h5>
          <p class="blog-info__excerpt">{{ onepost.concept }}</p>
        </div>
        <div class="blog-meta">
          <a href="blog-post.html" class="ae-u-bolder blog-meta__comments">{{ onepost.comments}} Comments</a>
          <span class="ae-kappa ae-u-bold blog-meta__date">{{ onepost.date }}</span>
          <a href="#0" class="arrow-button blog-meta__read-more">Read More<span class="arrow-cont">
              <svg>
                <use xlink:href="assets/img/symbols.svg#arrow"></use>
              </svg></span></a></div>
      </div>
    </div>
  
  </section>
  <div class="ae-container-fluid au-pb-4 group-buttons"><a href="#0" class="arrow-button arrow-button--reverse arrow-button--center">Older Posts
      <div class="arrow-cont arrow-cont-rev">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg>
      </div></a></div>
